/* .required:after {
    content:" *";
    color: red;
} */

.welcome {
    width:50%;
    min-width:400px;
    margin-left:0px;
}

.welcome-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-text {
    font-size:50px;
    padding-left:5vw;
}

.explore {
    margin-left:5vw
}

.map {
    background: #FFFFFF;
    height:500px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
    width:50%;
}

.carousel {
    margin-top: 10px;
    text-align: center;
    height:400px;
    margin:0px;
    padding: 0px;
}

.grid {
    margin:1rem 0 2rem 0;
    display: grid;
    gap:0rem;
    grid-template-columns: repeat(auto-fit,minmax(300px, 0.5fr));
    justify-content: center;

}

.carousel-grid {
    margin:0 auto 0rem auto;
    padding:0 10rem;
    display: grid;
    gap:0rem;
    grid-template-columns: repeat(auto-fit,minmax(300px, 0.5fr));
    height:340px;
    overflow-y:hidden;
    overflow-x:visible;
    justify-content: center;
}

@media (max-width:991px) {
    .welcome-container {
        margin-top: 0;
    }

    .welcome-text {
        font-size:40px;
    }

    .welcome {
        width: 100vw;
        margin:0px;
    }

    .map {
        width:100vw;
        height:450px
    }
}